<footer>
  <div class="mx-auto border-t dark:border-gray-500 mt-6 py-6 flex items-center justify-between">
    <div>
      <p class="text-center text-xs leading-5 text-gray-500">&copy; Adam Naamani</p>
    </div>
    <div class="flex justify-center space-x-6">
      <a href="<%= t('x') %>" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">X</span>
        <%= render "svg/x" %>
      </a>
      <a href="<%= t('instagram') %>" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">Instagram</span>
        <%= render "svg/instagram" %>
      </a>
      <a href="<%= t('github') %>" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">GitHub</span>
        <%= render "svg/github" %>
      </a>
      <a href="<%= t('youtube') %>" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">YouTube</span>
        <%= render "svg/youtube" %>
      </a>
    </div>
  </div>
</footer>
