<header class="relative py-12">
  <h2 class="text-center">
    <%= link_to "Adam Naamani", root_path, class: "text-3xl font-serif uppercase font-thin text-slate-300 dark:text-slate-600 hover:text-[#3A4F66]" %>
  </h2>
  <% if user_signed_in? && current_user.admin? %>
    <div class="fixed top-5 right-5 flex flex-col text-left space-y-2 z-10">
      <%= render "partials/flyout" do %>
        <%= yield %>
        <%= link_to "New Post", new_post_path, data: { turbo_prefetch: false } %>
        <%= link_to "Drafts", "/drafts" %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>
      <% end %>
    </div>
  <% end %>
</header>
