<%= render "partials/header" do %>
  <%= form_with scope: :upload,
                url: uploads_path,
                data: { controller: "form", action: "input->form#submit" },
                class: "flex" do |form| %>
    <%= form.label :image,
                   "Upload image",
                   class: "block p-2 whitespace-nowrap cursor-pointer w-full normal-case font-semibold tracking-wide text-sm hover:text-indigo-600" %>
    <%= form.file_field :image, class: "sr-only" %>
  <% end %>
<% end %>
<%= render "partials/container" do %>
  <div class="space-y-10 mb-10">
    <%= render "partials/bio" %>
    <%= render "partials/subscribe" %>
  </div>
  <div class="space-y-10 mb-10">
    <div class="space-y-2">
      <h2 class="tracking-tight flex justify-between">
        Articles <%= link_to "See all", blog_path, class: "text-base font-medium decorated" %>
      </h2>
      <% @posts.published.each do |post| %>
        <p class="text-md leading-8"><%= link_to post.title, post.slug %></p>
      <% end %>
    </div>
  </div>
  <%= turbo_frame_tag :uploads, src: uploads_path(format: :turbo_stream) do %>
    <%= render "uploads/uploads" %>
  <% end %>
  <%= render "partials/footer" %>
<% end %>