<%= render "partials/header" do %>
  <%= form_with scope: :upload,
                url: uploads_path,
                data: { controller: "form", action: "input->form#submit" },
                class: "flex" do |form| %>
    <%= form.label :image, class: "btn btn-primary capitalize w-full" %>
    <%= form.file_field :image, class: "sr-only" %>
  <% end %>
<% end %>
<%= render "partials/container" do %>
  <div class="space-y-10 mb-10">
    <%= render "partials/bio" %>
    <%= render "partials/subscribe" %>
  </div>
  <div class="space-y-10 mb-10">
    <div class="space-y-2">
      <h2 class="text-2xl sm:text-2xl tracking-tight flex justify-between">
        Newest articles <%= link_to "See all", blog_path, class: "text-base font-medium underline" %>
      </h2>
      <% @posts.published.each do |post| %>
        <p class="text-md leading-8"><%= link_to post.title, post.slug %></p>
      <% end %>
    </div>
    <div class="hidden space-y-2">
      <h2 class="text-2xl sm:text-2xl tracking-tight">What am I doing now?</h2>
      <p class="text-md leading-8">See my "now" page.</p>
    </div>
    <div class="hidden space-y-2">
      <h2 class="text-2xl sm:text-2xl tracking-tight">Projects</h2>
      <p class="text-md leading-8"><%= link_to "Naamani Real Estate", "https://naamanirealestate.com" %></p>
    </div>
    <div class="hidden space-y-2">
      <h2 class="text-2xl sm:text-2xl tracking-tight">Books</h2>
      <p class="text-md leading-8"><%= link_to "The Ultimate Sales Machine", "https://www.ultimatesalesmachine.com/book-1a" %></p>
    </div>
  </div>
  <%= turbo_frame_tag :uploads, src: uploads_path(format: :turbo_stream) do %>
    <%= render "uploads/uploads" %>
  <% end %>
  <%= render "partials/footer" %>
<% end %>