<%= render "partials/header" do %>
  <%= form_with scope: :upload,
                url: uploads_path,
                data: { controller: "form", action: "input->form#submit" },
                class: "flex" do |form| %>
    <%= form.label :image,
                   "Upload Image",
                   class: "block cursor-pointer w-full normal-case text-base" %>
    <%= form.file_field :image, class: "sr-only" %>
  <% end %>
<% end %>

<%= render "partials/container" do %>
  <div class="space-y-10">
    <div>
      <p>
        Founder of <%= link_to "Naamani Real Estate", t("nre"), class: "decorated" %> and <%= link_to "Resider", "https://resider.ca", class: "decorated" %>. Agent with <%= link_to "eXp Realty", t("exp"), class: "decorated" %>. Entrepreneur specialized in <%= link_to "proptech", t("github"), class: "decorated" %>. Martial artist. Subscribe to my <%= link_to "newsletter", t('newsletter'), class: "decorated" %> where you can follow my thinking on real estate, urbanism, tech, and business. Connect with me on <%= link_to "X", t("x"), class: "decorated" %>, <%= link_to "Instagram", t("instagram"), class: "decorated" %>, <%= link_to "LinkedIn", t("linkedin"), class: "decorated" %>, and <%= link_to "Email", "mailto:#{t("email")}", data: { turbo: false }, class: "decorated" %>.
      </p>
    </div>
    <div>
      <h2 class="flex justify-between mb-2">
        Articles <%= link_to "See all", blog_path, class: "text-base font-medium decorated" %>
      </h2>
      <div class="space-y-2">
        <% @posts.published.each do |post| %>
          <p><%= link_to post.title, post.slug %></p>
        <% end %>
      </div>
    </div>
    <div>
      <h2 class="tracking-tight flex justify-between mb-2">
        Photos
      </h2>
      <div class="grid grid-cols-3 sm:grid-cols-4 gap-1">
        <% @uploads.each do |upload| %>
          <div id="<%= dom_id(upload) %>" class="relative h-28 lg:h-40">
            <%= link_to upload.image.url do %>
              <%= image_tag upload.image.url,
                            loading: :lazy,
                            class: "shadow bg-slate-200 w-full h-28 lg:h-40" %>
            <% end %>
            <% if user_signed_in? && current_user.admin? %>
              <%= link_to purge_attachment_uploads_path(id: upload.id),
                          data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this image?" },
                          class: "absolute bottom-2 right-2 text-transparent hover:text-red-400" do %>
                <%= render "svg/trash" %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
