<div id="<%= dom_id(post) %>">
  <article class="flex flex-col justify-between">
    <div class="flex items-center justify-center text-center">
      <time class="text-gray-500 text-sm">
        <%= post.published_date.to_date.to_fs(:long) if post.published_date.present? %>
      </time>
    </div>
    <div class="group relative max-w-3xl">
      <h1 class="text-2xl text-center font-bold mt-2 mb-10"><%= post.title %></h1>

      <%= post.content %>

      <% if post.images.attached? %>
        <div class="grid grid-cols-3 gap-1 my-5">
          <% post.images.each do |image| %>
            <%= image_tag image, alt: post_image_alt(image), class: "shadow h-48" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </article>
</div>
<%= render "partials/subscribe" %>