<div id="<%= dom_id(post) %>">
  <article class="flex flex-col items-start justify-between">
    <div class="flex items-center text-xs">
      <time class="text-gray-500"><%= post.published_date.to_date.to_fs(:long) %></time>
    </div>
    <div class="group relative">
      <h1 class="text-2xl font-bold mt-2"><%= post.title %></h1>
      <p class="mt-5"><%= post.content %></p>
    </div>
  </article>
</div>
<div class="rounded-md bg-white border dark:border-slate-700 dark:bg-slate-900 dark:text-gray-200 mt-20 pt-5 pb-8 shadow-sm">
  <%= render "partials/subscribe" %>
</div>