<%= render "partials/container" do %>
  <% if @posts.any? %>
    <ul role="list" class="space-y-3">
      <% @posts.each do |post| %>
        <%= link_to post do %>
          <li class="overflow-hidden rounded-md bg-white dark:bg-slate-900 dark:text-gray-200 px-6 py-6 shadow-md space-y-4">
            <p class="text-gray-500 text-xs mb-1"><%= post.created_at.to_date.to_fs(:long) %></p>
            <span><%= post.title %></span>
            <p class="text-sm dark:text-white"><%= post.content.to_plain_text.truncate(300) %></p>
            <div class="text-center"><%= button_to "Read More", post, class: "border p-2 px-3 rounded-full text-sm" %></div>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% end %>